body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #555;
  font-weight: bold;
  text-align: left;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

#result {
  background-color: #e9f5e9;
  border: 1px solid #c3e6c3;
  color: #2e7d32;
  font-weight: bold;
}

.file-size-container {
  display: flex;
  gap: 10px;
}

.file-size-input {
  width: 100%;
}

.file-size-unit {
  width: 70%;
}

.speed-container {
  display: flex;
  gap: 10px;
}

.speed-input {
  width: 100%;
  flex: 3;
}

.speed-unit {
  flex: 1;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.footer img {
  margin-right: 10px;
}

.footer a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
    display: block;
    overflow-x: hidden;
  }

  .container {
    padding: 15px 20px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  h2 {
    font-size: 1.5em;
  }

  label {
    font-size: 0.9em;
  }

  input[type="number"],
  input[type="text"],
  select,
  button {
    padding: 8px;
    font-size: 0.9em;
  }

  .file-size-container,
  .speed-container {
    flex-direction: column;
    gap: 0px;
  }

  .file-size-unit,
  .speed-unit {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    margin-top: 15px;
  }

  .footer img {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .footer a {
    font-size: 0.9em;
  }
}
